{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/tabulator.min.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
<script type="text/javascript" src="{{ url_for('static',filename='scripts/jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='scripts/tabulator.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='scripts/results.js') }}"></script>
<h1>Type Query</h1>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
        <button class="btn btn-default" id="run">Run</button>
        <button class="btn btn-default" id="clear">Clear</button>
        <input id="query_time">
        <br><br>
        <div id="table"></div>
    </div>
</div>
{% endblock %}